.settings-open{
    margin-top: 70px;
}

.settings-panel{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    box-shadow: 0 0 10px 0 #888;
}
.text-settings, .global-settings, .options-settings{
    position: fixed;
    right: -350px;
    top: 0;
    height: 100vh;
    width: 300px;
    z-index: 9999;
    background-color: #fff;
    color: #151515;
    box-shadow: 0 0 10px 0 #888;
    transition: 0.2s ease;
}

.show-global-settings .global-settings, .show-text-settings .text-settings, .show-options-settings .options-settings{
    right: 0;
}

.setting-item{
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}

.settings-panel.disabled .setting-item.once .btn-setting-item{
    z-index: -1;
}

.settings-panel.disabled .setting-item.once .btn-setting-item:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f2f2;
    opacity: 0.7;
    z-index: 99999;
    width: 100% !important;
    height: 100% !important;
    display: block;
}

.settings-panel .icon{
    font-size: 14pt;
}

.dropdown-menu{
    min-width: 250px;
    padding: 0;
    overflow: hidden;
}

.dropdown-menu .dropdown-item{
    color: #151515;
    padding: 10px;
    display: block;
    font-size: 12pt;
}

.dropdown-menu .dropdown-item:hover{
    background-color: #26cae5;
    color: #fff;
}

.btn-setting-item:focus{
    outline: none!important;
    background-color: #26cae5;
    color: #fff;
}

.btn-setting-item{
    position: relative;
    z-index: 1;
    margin-right: 1px;
    height: 60px;
    padding: 0 25px;
    border-radius: 0;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.btn-setting-item:hover{
    background-color: #26cae5;
    color: #fff;
}

.sp-container{
    position: fixed!important;
    top: 63px!important;
}

.sp-container button.sp-choose{
    background-color: #26cae5;
}

.global-settings .icon{
    font-size: 10pt;
    cursor: pointer;
}

.global-settings-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.global-settings-buttons .btn-close{
    color: #999;
    font-size: 10pt;
    font-weight: 400;
    transition: 0.2s ease;
}

.global-settings-buttons .title{
    font-weight: 600;
    text-transform: uppercase;
}


.global-settings .form-control{
    border-radius: 0;
    height: 50px;
}

.global-settings .form-control:focus{
    outline: none!important;
    box-shadow: none;
}

.settings-panel .color-pick-global{
    width: 100%;
    height: 50px;
    background-color: #333;
    box-shadow: 0 0 5px 0 #888888;
    cursor: pointer;
    transition: 0.2s ease;
}


.settings-panel #colorpicker-btn-text.color-pick-global{
    background-color: #fff;
}


.settings-panel .file-drop-area {
    position: relative;
    text-align: center;
    max-width: 100%;
    padding: 25px;
    border: 1px dashed #999;
    border-radius: 3px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.settings-panel .file-drop-area.is-active {
    background-color: rgba(28,209,229, 0.1);
}

.settings-panel .fake-btn {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.4;
}

.settings-panel .file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}
.settings-panel .file-input:focus {
    outline: none;
}

.settings-panel p{
    margin: 0;
}

.settings-panel .form-text.text-muted{
    line-height: 1px!important;
    margin-top: 10px;
}

.dropdown-menu{
    z-index: 10000;
    max-height: 350px;
    overflow: auto;
}

.settings-panel .btn:focus{
    outline: none!important;
    box-shadow: none!important;
}

.settings-panel input[type="radio"]{
    display: none;
    height: 0;
    width: 0;
}

.settings-panel label{
    display: block;
    margin-bottom: 0;
}
.settings-panel label span {
    display: block;
    text-align: left;
    cursor: pointer;
    background-color: #fff;
    color: #151515;
    padding: 10px 5px;
    border-top: 1px solid #ddd;
    font-weight: 400;
    font-size: 12pt;
}

.settings-panel label span:hover{
    background-color: #26cae5;
    color: #fff;
}

.settings-panel input[type="radio"]:checked + span {
    background-color: #26cae5;
    color: #fff;
}

.ck-content:focus {
    outline: 1px solid #d0d0d0;
    min-width: 20px;
}
.disable-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #ffffffd4;
    left: 0px;
    z-index: 100;
    display: block;
}
.settings-panel-active .disable-wrapper {
    display: none;
}
.element{
    min-width: 20px;
}
.color-options {
    display: flex;
}
.color-options__item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #5f5f5f;
    margin: 5px;
    cursor: pointer;
}
#yandex-card {
    width: 1000px;
    height: 1000px;
}

.ymap-container {
    height: 100%;
}
.ck-body-wrapper{
    display: none;
}


.switch-panel{
    position: fixed;
    top: 50%;
    left: -170px;
    transform: translate(0,-50%);
    background-color: #fff;
    box-shadow: 0 0 10px 0 #888;
    z-index: 999;
    padding: 20px;transition: 0.2s all ease;
}

.switch-panel.open{
    left: 0;
}

.switch-panel .btn-primary{
    background-color: #26cae5;
    color: #fff;
    border: 1px solid #26cae5;
}

.switch-panel .btn-primary:hover,
.switch-panel .btn-primary.active{
    background-color: #333!important;
    border-color: #333!important;
    color: #fff!important;
}

.switch-panel .open-btn{
    position: absolute;
    right: -70px;
    top: 50%;
    transform: translate(0,-50%);
    background-color: #26cae5;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.switch-panel:not(.open) .open-btn{
    animation: pulse 1.5s infinite;
}

.switch-panel.open .open-btn:before{
    transition: 0.3s all ease;
}

.switch-panel.open .open-btn:before{
    transform: rotate(90deg);
}
.switch-panel .open-btn:before{
    transform: rotate(-90deg);
}

@-webkit-keyframes pulse {
    0% {

    }
    70% {
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}
