.form-search input{
    border-radius: 4px 0 0 4px;
    border: none;
}

.navbar-fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar{
    padding-top: 20px;
    transition: 0.2s all ease;
}

.navbar.scrolled{
    background-color: #fff;
    padding-top: 8px;
box-shadow: 0 0 8px 0 #ccc;
}


.form-search{
    display: flex;
    border: 1px solid #26cae5;
    border-radius: 5px;
}

.logo{
    width: 140px;
    height: auto;
}

.btn-tpl{
    background-color: #26cae5;
    color: #fff;
    border-radius: 0 4px 4px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-tpl:hover{
    background-color: #22b4cc;
    color: #fff;
}

.nav-item{
    margin: 0 10px;
}

.navbar.scrolled .nav-item .nav-link{
    color: #000!important;
}

.nav-item .nav-link{
    color: #fff!important;
    font-size: 14pt;
}

.main{
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main:before{
    content: '';
    position: absolute;
    top: 0%;
    bottom:     0%;
    right: 0%;
    left: 0%;
    background-color: #111111;
    opacity: 0.4;
    z-index: 1;
}

.main-content{
    position: relative;
    z-index: 4;
    width: 40%;
    text-align: center;
}

.main h1{
    color: #fff;
}

.btn-template{
    background-color: #26cae5;
    color: #fff;
    /* box-shadow:
            0 0 10px 0px #26cae5,
            0 0 20px 0px rgba(38, 202, 229, 0.51),
            0 0 30px 0px rgba(38, 202, 229, 0.52); */
    border-radius: 10px;
    padding: 10px 40px;
    font-weight: 600;
    font-size: 14pt;
}



@media screen and (min-width: 768px){
    .main .btn-template{
        margin-top: 10vw;
    }
}

.btn-template:hover{
    background-color: #fff;
    color: #26cae5!important;
}

.goods{
    padding: 50px 0;
    background-color: #f2f2f2;
}

.goods a:hover{
    text-decoration: none;
    color: inherit;
}

.card{
    border: none;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.2s all ease;
}

.card:hover{
    box-shadow: 0 0 8px 0 #ccc;
}

.card .card-img{
    height: 200px;
    overflow: hidden;
    position: relative;
}

.card .card-img img{
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.card .card-title{
    font-weight: 600;
    font-size: 14pt;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    color: #000;
}
.card .card-price{
    font-weight: 600;
    font-size: 16pt;
    color: #26cae5;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

.card .card-other{
    font-weight: 400;
    font-size: 12pt;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

@media screen and (max-width: 768px){
    .navbar{
        background-color: #fff;
        padding-top: 8px;
        box-shadow: 0 0 8px 0 #ccc;
    }
    .nav-item .nav-link{
        color: #000!important;
    }
    .main-content{
        position: relative;
        z-index: 4;
        width: 100%;
        text-align: center;
    }

    .main h1{
        font-size: 7vw;
    }

    .btn-template{
        font-size: 4vw;
    }

    .main .btn-template{
        margin-top: 10vw;
    }

    .contacts{
        text-align: center;
    }
}

.footer{
    background-color: #04283e;
    padding: 50px 0;
    color: #fff;
}

.footer a{
    color: #26cae5;
}

.contacts .card-title{
    display: inline-flex;
    align-items: center;
}

.contacts .card-title i{
    margin-right: 10px;
}

.blue{
    color: #26cae5;
}

.footer .footer-muted a,
.footer .footer-muted p{
    color: #999;
}

.contacts{
    padding: 50px 0;
    background-color: #f2f2f2;
}
p{
    margin: 0px;
}