body{
    background-color: #eaeaea;
    font-size: 12pt;
}

.main{
    background-image: url("../../img/bg_main.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative;
}

.catalog{
    background-image: url("../../img/bg_main.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: relative;
}


.catalog .content-center{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.catalog .content-center h1{
    width: 100%;
    color: #fff;
    font-size: 30pt;
    text-transform: uppercase;
}

.navbar-logo img {
    width: 100%;
}

.navbar-logo {
    float: left;
    max-width: 120px;
    font-size: 20pt;
    line-height: 1.9;
    margin-right: 10px;
    color: #777777;
}

.navbar-logo:hover {
    color: #555;
}


.navbar{
    background-color: #fff;
    position: relative;
    top: 50px;
    padding:20px 40px;
    box-shadow: 0 0 15px -5px rgba(0,0,0,0.6);
    z-index: 99;
    border-radius: 0;
}


.item-shop .navbar{
    top: 20px!important;
}


.navbar .nav-item .nav-link{
    color: #111;
}

.content-center{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(0,-50%);
}

.content-center h1{
    width: 80%;
    color: #fff;
    font-size: 36pt;
    text-transform: uppercase;
}

.about{
    background-color: #fff;
    padding: 20px;
}


.icon-block{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.item-shop .btn-template{
    min-width: 150px;
}

.icon-block .con{
    font-size: 25pt;
    height: 100px;
    min-width: 100px;
    background-color: #111;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

hr{
    border-color: #aaa;
}

.icon-block .con::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -20px;
    top: 50%;
    transform: translate(0,-50%);
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #000000;
}


.icon-block .title{
    font-size: 16pt;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
}

.catalog .card-goods .item{
    border: 1px solid #ddd;
    margin-top: 20px;
}

.catalog .card-goods .item-body{
    padding: 15px;
}

.catalog .card-goods .buttons{
    margin-top: 10px;
}

.card-goods{
    background-color: #fff;
    margin-top: 20px;
    padding: 20px 40px;
}
.card-goods .item .img{
    height: 170px;
    overflow: hidden;
}

.card-goods .item img {
    width: 100%;
}

.card-goods .item .title{
    font-size: 16pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-goods .item .price{
    font-size: 20pt;
    font-weight: 600;
}

.owl-carousel{
    position: relative;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
    display: block!important;
}

.owl-nav button:first-child i{
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translate(0,-50%) rotate(90deg);
    font-size: 20pt;
}

.owl-nav button:last-child i{
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translate(0,-50%) rotate(-90deg);
    font-size: 20pt;
}
/* Common button styles */
.btn {
    float: left;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.btn:focus {
    outline: none;
}
.btn > span {
    vertical-align: middle;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.buttons .btn-template{
    width: 47%;
}

.btn-template {
    -webkit-transition: border-color 0.4s, color 0.4s;
    transition: border-color 0.4s, color 0.4s;
border: 1px solid #111;
    border-radius: 0;
}
.btn-template::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn-template,
.btn-template::before {
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.btn-template:hover {
    color: #fff;
    border-color: #111;
}
.btn-template:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.map .container{
    height: 400px;
    margin-top: 20px;
}

.contact i{
    font-size: 20pt;
}

.contact p{
    font-size: 16pt;
}


.carousel-ads .carousel-control {
    background-image: none;
    width: 12%;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.7;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease
}

@media (max-width: 767px) {
    .carousel-ads .carousel-control {
        opacity: 0.9
    }

    .content-center{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,0);
    }

    .content-center h1{
        width: 100%;
        color: #fff;
        font-size: 18pt;
        text-transform: uppercase;
    }

    .contact i{
        font-size: 16pt;
    }

    .contact p{
        font-size: 12pt;
    }

}

.carousel-ads .carousel-control:focus, .carousel-ads .carousel-control:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9
}

.carousel-ads .carousel-control .icon {
    position: relative;
    top: 45%;
    font-size: 28px;
    color: #111;
    color: #fff
}

.carousel-ads .carousel-indicators {
    z-index: 1;
    position: relative;
    left: auto;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    width: 100%;
    bottom: 20px;
    outline: 0 !important;
    display: flex;
}

.carousel-ads .carousel-indicators li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-height: 100px;
    -webkit-border-radius: 0;
    border-radius: 0;
    opacity: 0.85;
    margin: 5px 2px 1px 2px;
    border: 2px solid transparent;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    overflow: hidden
}

.carousel-ads .carousel-indicators li:first-child {
    margin-left: 0
}

.carousel-ads .carousel-indicators li:last-child {
    margin-right: 0
}

.carousel-ads .carousel-indicators li.active {
    opacity: 0.9;
    margin-bottom: 1px;
    border-color: #26cae5
}

.carousel-ads .carousel-indicators li {
    text-indent: 0;
}

.img-responsive {
    width: 100%;
}

.carousel-ads .item {
    text-align: center;
    line-height: 1;
    cursor: -webkit-zoom-in;
    cursor: zoom-in
}

.carousel-ads .item img {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    height: auto
}

@media (max-width: 767px) {
    .carousel-ads .item img {
        height: auto
    }
}